@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">THZ Super Tarefas v1.0</h1>
    <h4>Heey, esse app foi feito em ASP.NET 6!</h4>
</div>

<hr/>
<br><br><br>
<div class="">
    <h1 class="display-6">Que tal conferir novidades?</h1>
    <h4>Aqui vai algumas coisas para você ler e explorar...</h4>
</div>